{% extends 'base.html.twig' %}

{% block title %}Edit GenderList{% endblock %}

{% block body %}
    <h1>Edit GenderList</h1>

    {{ include('gender_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gender_list_index') }}">back to list</a>

    {{ include('gender_list/_delete_form.html.twig') }}
{% endblock %}
