{% extends 'base.html.twig' %}

{% block title %}New AdminNotes{% endblock %}

{% block body %}
    <h1>Create new AdminNotes</h1>

    {{ include('admin_notes/_form.html.twig') }}

    <a href="{{ path('app_admin_notes_index') }}">back to list</a>
{% endblock %}
