{% extends 'base.html.twig' %}

{% block title %}Edit ApplicationStatus{% endblock %}

{% block body %}
    <h1>Edit ApplicationStatus</h1>

    {{ include('application_status/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_application_status_index') }}">back to list</a>

    {{ include('application_status/_delete_form.html.twig') }}
{% endblock %}
